.brand-logo img{
    text-decoration: none;
    position: absolute;
    width: 200px;
    top: 20px;
    left: 20px;
}
.menu ul{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 20px 0;
}
.menu li {
    display: inline-block;
    margin: 0 10px;
  }
.menu ul li a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}  
.car{
    text-decoration: none;
    text-align:right;
    position: absolute;
    height: 48px;
    width: 48px;
    top: 15px;
    left: 85%;
}
.burger img{
    width: 80px;
    position: absolute;
    right: 100px;
    margin: 15px;
    cursor: pointer;
}
.stuff{
    width: 300px;
  margin-top: 80px;
}
.addcar{
    width:292px;
    margin-bottom: 15px;
    /* border-radius: 10px; */
    top: 10px;
    padding: 15px 20px 15px 20px;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: rgb(143, 161, 190);
    border: 0ch;
}
.content1{
    /* margin: -510px 0px 130px 750px; */
    /* width: 300px;
    display: inline-block;
    margin-bottom: 40px;
    margin-top: 10px;
    padding: 50px 50px 1px 10px; */
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 45px;
    max-width: 1068px;
    margin: auto;
    width: 100%;
    justify-content: center;
}
.lovesong{
    width: 300px;
}
.detail{
    width: 300px;
    height: 530px;
    padding: 0px 0px 0px 0px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: left;
}
/* .p{
    margin-top: 3px;
} */
#number{
    margin: 0px 0px 0px 20px;
    width: 292px;
    margin: 5px 0px;
  }
.stufftext{
    font-size: larger;
    margin-top: 14px;
}
.stuffname{
    margin: 0%;
    padding: 0%;
}
.price{
    margin-top: -15px;
    padding: 0%;
}


.footer {
    width: 1335px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 0 20px -20px;
    box-shadow: none;
    box-sizing: border-box;
  }
  .footerlink {
    font-size: 13px;
    text-align: center;
    /* display: inline-block; */
  }
  .footerlink li {
    display: inline-block;
    margin-right: 14px;
  }
  .footerlink li ::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 0 4px 15px;
    vertical-align: bottom;
  }
  .footerlink li a {
    color: #2d2d2d;
    text-decoration: none;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bolder;
  }
  .footerlink li a :visited {
    text-decoration: none;
    color: #2d2d2d;
  }
  .out {
    background-color: #82c4c3;
    color: aliceblue;
    text-align: center;
    font-size: 6px;
    margin-top: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
  }